version: "3.8"

services:
  react-app:
    image: kalaiyarasi15/react-dev:latest
    container_name: react-app
    ports:
      - "80:80"
    networks:
      - monitor-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitor-net

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8081:8080"
    networks:
      - monitor-net

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    networks:
      - monitor-net

networks:
  monitor-net:
    driver: bridge

services:
  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:0.11.0
    container_name: nginx-exporter
    environment:
      - NGINX_EXPORTER_PROMETHEUS_ON=true
      - NGINX_STATUS_URL=http://prod-app/nginx_status   # adjust hostname/path if needed
    ports:
      - "9113:9113"
    networks:
      - monitor-net   # use same network as prometheus/grafana

